/* You can add global styles to this file, and also import other style files */
:root {
  --android-green: #32DE84;
  --light-blue: #E6F3FF;
  --light-blue-2: #CCE6FF;
  --dark-blue: #021f54;
}

body {
  background-color: whitesmoke;
}
